{% extends 'layout.html' %}

{% block title %}
   - Change Password
{% endblock %}

{% block body %}
    <div class='forms-container'>
        <h2>Change Your Password</h2>
        <hr>
        <form method='post'>
            {% csrf_token %}
            {% for field in password_form %}
                <div class='form-group'> {{ field }} </div>
            {% endfor %}
            <br>
            <button class='btn btn-primary' type='submit'>Change</button>
        </form>
        <hr>
        <p><a href='javascript:window.history.back();'>Back to the profile page</a></p>
    </div>
{% endblock %}
