{% extends 'layout.html' %}

{% block title %}
   - Delete Account
{% endblock %}

{% block body %}
    <div class='forms-container'>
        <h2>Delete your Account</h2>
        <h3 style='color: var(--aurora-1)'>*** It cannot be undone! ***</h3>
        <hr>
        <form method='post' action='/users/{{ user.username }}/delete'>
            {% csrf_token %}
            <input type='hidden' name='username' value='{{ user.username }}' />
            <button class='btn btn-delete' type='submit'>Delete Account</button>
        </form>
        <hr>
        <p><a href='javascript:window.history.back();'>Back to the profile page</a></p>
    </div>
{% endblock %}
