{% extends 'layout.html' %}

{% block title %}
   - Donations
{% endblock %}

{% block body %}
    <div class='body-internal'>
        <div class='username'>
            <h2>Donations Board</h2>
            <p>All items will be donated to <a class="email" href='https://www.traid.org.uk/' target='_blank'>traid.org</a></p>
        </div>
        <br>
        {% if all_donations %}
            {% for donation in all_donations %}
                <div class='user-container'>
                    <p> <strong>{{ donation.item.name }} </strong></p>
                    <hr>
                    <p> <strong>{{ donation.item.description }} </strong></p>
                    <hr>
                    <p> Kindly donated by <a href='users/{{ donation.donor.username }}'>{{ donation.donor.username }}</a> @ {{ donation.item.created_at }}
                </div>
            {% endfor %}
        {% else %}
            <br>
            <h2>No donations made yet...</h2>
        {% endif %}
    </div>
{% endblock %}
