{% extends 'layout.html' %}

{% load static %}

{% block title %}
   - {{ item_details.name }}
{% endblock %}

{% block body %}
    <div class='body-internal'>
        <div class='username'>
            {{ item_details.name }}
        </div>
        <div class='user-container'>
            <img src='{{ item_details.picture.url }}' alt='{{ item_details.name }}'>
            <br><br>
            <p>Name:</p>
            <p><b>{{ item_details.name }}</b></p>
            <hr>
            <p>Description:</p>
            <p><b>{{ item_details.description }}</b></p>
            <hr>
            <p>Owner:</p>
            <p><a href='/users/{{ item_details.owner.username }}'> {{ item_details.owner.username }}</a></p>
            <hr>
            <p>Added:</p>
            <p><b>{{ item_details.created_at }}</b></p>
            {% if item_details.owner.id != user.id %}
                <br>
                <p><a href='swapp_request'>Make a Swapp Request</a></p>
            {% endif %}
        </div>
    </div>
{% endblock %}
