{% extends 'layout.html' %}

{% block title %}
   - Market
{% endblock %}

{% block body %}
    <div class='body-internal'>
        <div class='username'>
             <h2>Market</h2>
        </div>
        <form action='/items' method='post'>
            {% csrf_token %}
            <div class='form-group'>
                <label>
                    <input autocomplete='off' autofocus class='form-control' name='search' placeholder='Search Item or Service' type='text'>
                </label>
            </div>
            <button class='btn btn-primary' type='submit'>Search</button>
        </form>
        <br>
        {% for item in all_items %}
            <div class='user-container'>
                <a href='/items/{{ item.id }}'> {{ item.name }} </a>
                <hr>
                <p> Current Owner: <a href='users/{{ item.owner.username }}'>{{ item.owner.username }}</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
