{% extends 'layout.html' %}

{% load static %}

{% block title %}
   - {{ item_details.name }}
{% endblock %}

{% block body %}
    <div class='body-internal'>
        <div class='username'>
            <h2>{{ item_details.name }}</h2>
        </div>
        <div class='user-container'>
            <img src='{{ item_details.picture.url }}' alt='{{ item_details.name }}'>
            <br><br>
            <p>Name:</p>
            <p><b>{{ item_details.name|default:'-- Info not available --' }}</b></p>
            <hr>
            <p>Description:</p>
            <p><b>{{ item_details.description|default:'-- Info not available --' }}</b></p>
            <hr>
            <p>Current Location:</p>
            <p><b>{{ item_details.current_location|default:'-- Info not available --' }}</b></p>
            <hr>
            <p>Preferred Item or Service to be swapped with:</p>
            <p><b>{{ item_details.preferred_change|default:'-- Info not available --' }}</b></p>
            <hr>
            <p>Current Owner:</p>
            <p><a href='/users/{{ item_details.owner.username }}'> {{ item_details.owner.username|default:'-- Info not available --' }}</a></p>
            <hr>
            <p>First Time Added:</p>
            <p><b>{{ item_details.created_at|default:'-- Info not available --' }}</b></p>
            <hr>
            {% if item_details.owner.id != user.id %}
                <br>
                <p><a href='new_swapp_request'>Make a Swapp Request</a></p>
            {% endif %}
            <br>
            <p><a href='javascript:window.history.back();'>Back to the previous page</a></p>
        </div>
    </div>
{% endblock %}
