{% extends 'layout.html' %}

{% block title %}
    {% if user_details.id == user.id %}
        - {{ user_details.username }} (You)
    {% else %}
        - {{ user_details.username }}
    {% endif %}
{% endblock %}

{% block body %}
    <div class='body-internal'>
        <div class='username'>
            {% if user_details.id == user.id %}
                <h2>{{ user_details.username }} (You)</h2>
            {% else %}
                <h2>{{ user_details.username }}</h2>
            {% endif %}
        </div>
        <br>
        <br>
        <h2 class='subtitle'>Details:</h2>
        <div class='user-container'>
            <p><b>Email:</b> <a href='mailto:{{ user_details.email }}'>{{ user_details.email }}</a></p>
            <hr>
            <p><b>Phone Number:</b> <a href='tel:{{ user_details.phone_number }}'>{{ user_details.profile.phone_number }}</a></p>
            <hr>
            <p><b>City:</b> {{ user_details.profile.city }}</p>
            <hr>
            <p><b>Country:</b> {{ user_details.profile.country.name }}</p>
            <hr>
            <p><b>Address:</b> {{ user_details.profile.address }}</p>
            {% if user_details.id == user.id %}
                <hr><br>
                <p><a href='update_profile'>Update your profile</a></p>
                <p><a href='change_password'>Change your password</a></p>
                <p><a href='delete' style='color: var(--aurora-1)'>Delete your account permanently</a></p>
            {% endif %}
        </div>
        <br>
        <br>
        <h2 class='subtitle'>Items or Services:</h2>
        {% if user_details.id == user.id and user_items %}
            {% for item in user_items %}
                <div class='user-container'>
                    <h4><a href='/items/{{ item.id }}'> {{ item.name }} </a></h4>
                    <hr>
                    <p><a href='/items/{{ item.id }}/update_item'>Update this item</a></p>
                    <hr>
                    {% if item.out_for_request %}
                        This Item or Service is out for request - No actions available
                    {% else %}
                        <div class='buttons-container'>
                            <form method='post' action='/donations'>
                                {% csrf_token %}
                                <input type='hidden' name='item_id' value='{{ item.id }}' />
                                <button class='btn btn-primary' type='submit'>Donate</button>
                            </form>
                            <form method='post' action='/items/{{ item.id }}/delete'>
                                {% csrf_token %}
                                <input type='hidden' name='item_id' value='{{ item.id }}' />
                                <button class='btn btn-delete' type='submit'>Delete</button>
                            </form>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            <br>
            <p><h5><a href='/items/add_item'>Add Item or Service</a></h5></p>
        {% elif user_items %}
            {% for item in user_items %}
                <div class='user-container'>
                    <h4><a href='/items/{{ item.id }}'> {{ item.name }} </a></h4>
                </div>
            {% endfor %}
        {% elif user_details.id == user.id %}
            <br>
            <h4 class='user-container'>You didn't upload any item or service yet...</h4>
            <br>
            <p><h5><a href='/items/add_item'>Add Item or Service</a></h5></p>
        {% else %}
            <br>
            <h3>Sorry, {{ user_details.username }} didn't upload any item or service yet...</h3>
        {% endif %}
        <br>
        {% if user_details.id == user.id %}
            <h2 class='subtitle'>Swapp Requests:</h2>
            <div class='request-container'>
                <div class='user-container'>
                    <h4>Sent:</h4>
                    <hr>
                    {% if sent_swapp_requests %}
                        {% for request in sent_swapp_requests %}
                            <p><a href='swapp_requests/{{ request.trace_id }}'>{{ request.trace_id }}</a></p>
                        {% endfor %}
                    {% else %}
                        You don't have any pending swapp request...
                    {% endif %}
                    {% if sent_swapp_requests.has_other_pages %}
                        <hr>
                        <ul class='pagination' style='display: block ruby'>
                            {% if sent_swapp_requests.has_previous %}
                                <li><a href='?page={{ sent_swapp_requests.previous_page_number }}'>&#x2B05;</a></li>
                            {% else %}
                                <li class='disabled'><span>&#x2B05;</span></li>
                            {% endif %}
                            {% for i in sent_swapp_requests.paginator.page_range %}
                                {% if sent_swapp_requests.number == i %}
                                    <li class='active'><span><b>{{ i }}</b> <span class='sr-only'>(current)</span></span></li>
                                {% else %}
                                    <li><a href='?page={{ i }}'>{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if sent_swapp_requests.has_next %}
                                <li><a href='?page={{ sent_swapp_requests.next_page_number }}'>&#x27A1;</a></li>
                            {% else %}
                                <li class='disabled'><span>&#x27A1;</span></li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </div>
                <div class='user-container'>
                    <h4>Received:</h4>
                    <hr>
                    {% if received_swapp_requests %}
                        {% for request in received_swapp_requests %}
                            <p><a href='swapp_requests/{{ request.trace_id }}'>{{ request.trace_id }}</a></p>
                        {% endfor %}
                    {% else %}
                        You don't have any pending swapp request...
                    {% endif %}
                    {% if received_swapp_requests.has_other_pages %}
                        <hr>
                        <ul class='pagination' style='display: block ruby'>
                            {% if received_swapp_requests.has_previous %}
                                <li><a href='?page={{ received_swapp_requests.previous_page_number }}'>&#x2B05;</a></li>
                            {% else %}
                                <li class='disabled'><span>&#x2B05;</span></li>
                            {% endif %}
                            {% for i in received_swapp_requests.paginator.page_range %}
                                {% if received_swapp_requests.number == i %}
                                    <li class='active'><span><b>{{ i }}</b> <span class='sr-only'>(current)</span></span></li>
                                {% else %}
                                    <li><a href='?page={{ i }}'>{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if received_swapp_requests.has_next %}
                                <li><a href='?page={{ received_swapp_requests.next_page_number }}'>&#x27A1;</a></li>
                            {% else %}
                                <li class='disabled'><span>&#x27A1;</span></li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </div>
            </div>
            <br>
            <div class='request-container'>
                <div class='user-container'>
                    <h4>History:</h4>
                    <hr>
                    {% if closed_swapp_requests %}
                        {% for request in closed_swapp_requests %}
                            <p><a href='swapp_requests/{{ request.trace_id }}'>{{ request.trace_id }}</a></p>
                        {% endfor %}
                    {% else %}
                        You don't have any closed swapp request yet...
                    {% endif %}
                    {% if closed_swapp_requests.has_other_pages %}
                        <hr>
                        <ul class='pagination' style='display: block ruby'>
                            {% if closed_swapp_requests.has_previous %}
                                <li><a href='?page={{ closed_swapp_requests.previous_page_number }}'>&#x2B05;</a></li>
                            {% else %}
                                <li class='disabled'><span>&#x2B05;</span></li>
                            {% endif %}
                            {% for i in closed_swapp_requests.paginator.page_range %}
                                {% if closed_swapp_requests.number == i %}
                                    <li class='active'><span><b>{{ i }}</b> <span class='sr-only'>(current)</span></span></li>
                                {% else %}
                                    <li><a href='?page={{ i }}'>{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if closed_swapp_requests.has_next %}
                                <li><a href='?page={{ closed_swapp_requests.next_page_number }}'>&#x27A1;</a></li>
                            {% else %}
                                <li class='disabled'><span>&#x27A1;</span></li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
