{% extends 'layout.html' %}

{% block title %}
    {% if user_details.id == user.id %}
        - You
    {% else %}
        - {{ user_details.username }}
    {% endif %}
{% endblock %}

{% block body %}
    <div class='body-internal'>
        <div class='username'>
            {% if user_details.id == user.id %}
                <h2>You</h2>
            {% else %}
                <h2>{{ user_details.username }}</h2>
            {% endif %}
        </div>
        <br>
        <br>
        <h2>Details:</h2>
        <div class='user-container'>
            <p>Email: <a href='mailto:{{ user_details.email }}'>{{ user_details.email }}</a></p>
            <hr>
            <p>Phone Number: <a href='tel:{{ user_details.phone_number }}'>{{ user_details.profile.phone_number }}</a></p>
            <hr>
            <p>City: {{ user_details.profile.city }}</p>
            <hr>
            <p>Country: {{ user_details.profile.country }}</p>
            <hr>
            <p>Address: {{ user_details.profile.address }}</p>
        </div>
        <br><br>
        <h2>Shop:</h2>
        {% if user_details.id == user.id and user_items %}
            {% for item in user_items %}
                <div class='user-container'>
                    <a href='/users/{{ item.name }}'> {{ item.name }} </a>
                    <hr>
                    <div class='buttons-container'>
                        <form method='post' action='/donations'>
                            {% csrf_token %}
                            <input type='hidden' name='item_id' value='{{ item.id }}' />
                            <button class='btn btn-primary' type='submit'>Donate</button>
                        </form>
                        <form method='post' action='/items/{{ item.id }}/delete'>
                            {% csrf_token %}
                            <input type='hidden' name='item_id' value='{{ item.id }}' />
                            <button class='btn btn-delete' type='submit'>Delete</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
            <br>
            <p><a href='/items/add_item'>Add Item or Service</a></p>
        {% elif user_items %}
            {% for item in user_items %}
                <div class='user-container'>
                    <a href='/users/{{ item.name }}'> {{ item.name }} </a>
                </div>
            {% endfor %}
        {% elif user_details.id == user.id %}
            <br>
            <h3>You didn't upload any item or service yet...</h3>
            <br>
            <p><a href='/items/add_item'>Add Item or Service</a></p>
        {% else %}
            <br>
            <h3>Sorry, {{ user_details.username }} didn't upload any item or service yet...</h3>
        {% endif %}
    </div>
{% endblock %}
